name: woori_app
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.7.2

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  flutter_riverpod: ^2.5.0
  dio: ^5.7.0
  image_picker: ^1.1.2
  gallery_saver_plus: ^3.2.9
  shared_preferences: ^2.3.2
  flutter_secure_storage: ^9.2.2
  local_auth: ^2.3.0
  google_fonts: ^6.2.1

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^5.0.0

flutter:

  uses-material-design: true
